[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:abseil/googletest.git
[submodule "thirdparty/hayai"]
	path = thirdparty/hayai
	url = git@github.com:nickbruun/hayai.git
